In [5]:
print('jonaon')
import winsound
import pandas as pd
frequency=1000
duration=2000

jonaon

In [2]:
import mysql.connector as aa
q=aa.connect(host='localhost',username='root',password='Subbu@123',database='subbu')
w=q.cursor()
w.execute('create table detail(id int,name varchar(20) not null,accbalance int null,deposit int null,withdraw int null,transfer_amnt int null,transfer_to_id int null)')
w.execute('create table acc(id int,Name varchar(20),Phone int(10),Place varchar(10))')
q.commit()

In [ ]:
while ('*'):
    print('1.create account 2.Login')
    inp=int(input('enter ur choice : '))
    if inp==1:
        id=int(input('enter ur id :'))
        name=input('enter ur name :')
        ph=int(input('enter the mobile number :'))
        place=input('enter ur place : ')
        we="insert into acc values(%s,%s,%s,%s)"
        em=[(id,name,ph,place)]
        w.executemany(we,em)
        q.commit()
        print('Hi',name,'your account has successfully created')
    if inp==2:
        class a:
            def __init__(s):#s.name=aa[str(s.id)]
                s.id=int(input('enter ur id'))
                s.name=''
                s.nme=''
                s.accbal=0
                w.execute("select * from acc where id='%s'"%(s.id))
                s.name=w.fetchone()[1]
                try:
                    w.execute("SELECT * FROM detail where id='%s'"%(s.id))
                    results=w.fetchall()
                    for row in results:
                        s.accbal= row[2]
                    print('found')
                except :
                    print("Error: unable to fecth data not found in table")
                    s.accbal=0                                 
                    #s.wtotal=0
                    #s.transtotal=0
                finally:
                    s.transfered=0
                    s.withdrawn=0
                    s.trid=0
                    s.amount=0
            def deposit(s):
                s.amount=int(input('enter the amount'))
                s.accbal=s.accbal+s.amount
                s.info()
                winsound.Beep(frequency,duration)
                print('your amount has successfully deposited')
            def wd(s):
                s.withdrawn=int(input('enter amount to withdraw'))
                if s.accbal<s.withdrawn:
                    print('not enough bln')
                else:
                    s.accbal=s.accbal-s.withdrawn
                    #s.wtotal=s.withdrawn+s.wtotal
                s.info()
                s.withdrawn=0
                winsound.Beep(frequency,duration)
            def trans(s):
                s.trid=int(input('enter id to transfer'))
                s.transfered=int(input('enter amount'))
                if s.accbal<s.transfered:
                    print('not enough bln')
                else:
                    s.accbal=s.accbal-s.transfered
                    try:
                        w.execute("SELECT * FROM acc where id='%s'"%(s.trid))
                        results = w.fetchall()
                        for rows in results:
                            s.nme=rows[1]
                        w.execute("SELECT * FROM detail where id='%s'"%(s.trid))
                        results = w.fetchall()
                        for rows in results:
                            oldbal= rows[2]
                        accbala=oldbal+s.transfered
                        we='insert into detail(id,name,accbalance) values(%s,%s,%s)'
                        ke=[(s.trid,s.nme,accbala)]
                        w.executemany(we,ke)
                        print('Amount has transfered from your account')
                    except:
                        accbala=s.transfered
                        we='insert into detail(id,name,accbalance) values(%s,%s,%s)'
                        ke=[(s.trid,s.nme,accbala)]
                        w.executemany(we,ke)
                        q.commit()#w.execute("update detail set accbalance=accbalance+'%s' where id='%s'"%(s.transfered,s.trid))
                        print('Amount has transfered from your account')
                s.info()
                winsound.Beep(frequency,duration)
                
            def info(s):
                listt=[(s.id,s.name,s.accbal,s.amount,s.withdrawn,s.transfered,s.trid)]
                ee='INSERT INTO DETAIL(id,name,accbalance,deposit,withdraw,transfer_amnt,transfer_to_id) VALUES(%s,%s,%s,%s,%s,%s,%s)'
                w.executemany(ee,listt)
                q.commit()
                s.amount=0
                s.withdrawn=0
                s.transfered=0
                s.trid=0
            def checktrans(s):
                od=pd.read_sql_query('select * from detail',q)
                od=pd.DataFrame(od)
                i=[s.id]
                fil=od['id'].isin(i)
                mr=od.loc[fil]
                print(mr)
            def chbln(s):
                print('your account balance : ',s.accbal)
                winsound.Beep(frequency,duration)
            def dd(s):
                print('Thank You',s.name,'for using our service')
        subbu=a()
        while True:
            print('\t SBI Bank \t')
            print('1.Deposit \n 2.withdraw \n3.transaction \n 4.checkblan \n 5.checktransactions \n 0.Save&Exit')
            ch=int(input())
            if ch==1:
                subbu.deposit()
            if ch==2:
                subbu.wd()
            if ch==3:
                subbu.trans()
            if ch==4:
                subbu.chbln()
            if ch==5:
                subbu.checktrans()
            if ch==0:
                subbu.dd()
                break
                
    else:
        print('invalid choice please choose correct one')

1.create account 2.Login
enter ur choice : 2
enter ur id3
found
	 SBI Bank
1.Deposit
 2.withdraw
3.transaction
 4.checkblan
 5.checktransactions
 0.Save&Exit
5

C:\Users\stanneeru\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   id  name  accbalance  deposit  withdraw  transfer_amnt  transfer_to_id
0   3  uraj       43434  43434.0       0.0            0.0             0.0
1   3  uraj       42981      0.0     453.0            0.0             0.0
3   3  uraj       42936      0.0       0.0           45.0             1.0
	 SBI Bank
1.Deposit
 2.withdraw
3.transaction
 4.checkblan
 5.checktransactions
 0.Save&Exit
2
enter amount to withdraw45
	 SBI Bank
1.Deposit
 2.withdraw
3.transaction
 4.checkblan
 5.checktransactions
 0.Save&Exit
5

C:\Users\stanneeru\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   id  name  accbalance  deposit  withdraw  transfer_amnt  transfer_to_id
0   3  uraj       43434  43434.0       0.0            0.0             0.0
1   3  uraj       42981      0.0     453.0            0.0             0.0
3   3  uraj       42936      0.0       0.0           45.0             1.0
4   3  uraj       42891      0.0      45.0            0.0             0.0
	 SBI Bank
1.Deposit
 2.withdraw
3.transaction
 4.checkblan
 5.checktransactions
 0.Save&Exit

   id    name  accbalance  deposit  withdraw  transfer_amnt  transfer_to_id
4   3  iuekde         433    433.0       0.0            0.0             0.0
5   3  iuekde         399      0.0      34.0            0.0             0.0
7   3  iuekde         366      0.0      34.0           33.0            44.0
9   3  iuekde         322      0.0      34.0           44.0             4.0